* {

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }
    

.bottomBanner {
    margin: 50px;
    
}

#pageWrap {
    display: flex;
    flex-direction: row;
    border: solid green 2px;
}

    p {
        color: #333;
        font-size: 17px;
        line-height: 24px;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }


   

    .mainWrapper {
        display: flex;
        padding-top: 50px;
    }


    .textWrapper {
        
        width: 700px;
        margin-left: 50px;
        padding: 50px;
        background-color: whitesmoke;
    }

    .timelineBigWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        border: solid red 2px;
        width: 200px;;
        height: 600px;
        padding-top: 50px;

    }

    #timeLineWrapper {
        display: flex;
        flex-direction: row;

    }

    #lineWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100px;
        justify-content: center;
        
        

    }

    .leftTextWrapper {
        height: 600px;
        width: 50px;
        display: flex;
        flex-direction: column;
    }

    .rightTextWrapper {
        height: 600px;
        width: 50px;
        
    }

    #longLine {
        background-color: grey;
        height: 600px;
        width: 4px;
    }

    .shortLine {
        width: 30px;
        height: 4px;
        background-color: grey;
    }