* {

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

iframe {
    
}

.indexWrapper {
    display: flex;
    height: 1000px;
    width: 300px;

    border: solid red 2px;
}

.bottomBanner {
    margin: 50px;
    
}

#pageWrap {
    display: flex;
    flex-direction: row;
    border: solid green 2px;
}

    p {
        color: #333;
        font-size: 17px;
        line-height: 24px;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }


   

    .mainWrapper {
        display: flex;
        padding-top: 50px;
    }


    .textWrapper {
        
        width: 700px;
        margin-left: 50px;
        padding: 50px;
        background-color: whitesmoke;
        
    }

    .timelineBigWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 30px;

        width: 200px;;
        height: 600px;
        

    }

    #timeLineWrapper {
        display: flex;
        flex-direction: row;
        
        

    }

    #lineWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30px;
        justify-content: center;
        padding-left: 10px;
        
        
        
        

    }

   
    
  .year {
    font-weight: bold;
  }

  .yearText {
    font-weight: normal;
}

    .rightTextWrapper {
        height: 530px;
        width: 200px;
        padding-left: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
        
    
        
    }

    #longLine {
        background-color: grey;
        height: 530px;
        width: 4px;
    }

    .shortLine {
        width: 30px;
        height: 4px;
        background-color: grey;
    }